*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
  }

.menuBar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(101, 83, 224);
}
.banner{
    margin-top: 80px;
    background-color: rgb(101, 83, 224);
    background-image: radial-gradient(rgb(176, 168, 235), rgb(101, 83, 224));
}
.logo{
    font-size:xx-large;
}
.navList{
    list-style-type:none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    
}
.navList > li a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.navList > li a:hover{
    color: rgb(248, 239, 239,0.6);
    border-bottom: 1px solid rgb(248, 239, 239,0.6);
    padding-bottom: 10px;
    
}
h3,h2{
    color:#4c4d4d ;
    font-weight: 500;
}
/* Common classes */
.ptb_100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.sectionHeading{
    color: #4c4d4d;
    position: relative;
}
.sectionHeading::after{
    content: "";
    width: 90px;
    height: 3px;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(101, 83, 224);
}
.heading{
    position: relative;
}
.heading::after{
    content: "";
    width: 90px;
    height: 3px;
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
}
.downloadBtn{
    border-radius: 32px;
}
.iconsize{
    font-size: 32px;
    padding-bottom: 16px;
}
.playButton{
    font-size: 50px;
    padding-bottom: 15px;
}
.phoneImg{
    margin-bottom: -26px;
}
.aboutFont{
    border-bottom: 3px solid rgb(101, 83, 224);
}
.aboutFont2{
    border-bottom: 3px solid white;
}

.aboutPara{
    line-height: 2;
}
.aboutText{
    color: #4c4d4d;
}
.appGrow{
    background-color: #404346;
    line-height: 3;
}
.appScreen{
    background-color: rgb(245, 238, 238);
}
.userImg{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
}
.users{
    box-shadow: 1px 1px 20px  #ece9e9;
    
}
.grayBG{
    background-color: #575a5c;
}
.pricing{
    background-color: rgb(245, 238, 238);
}
.monthly{
    background-color: darkcyan;
    color: white;
    border-radius: 40%;
}
.startNow{
    border-radius: 55px;
    color: white;
    background-color: #575a5c;
}
.startNow:hover{
    background-color: rgb(101, 83, 224);
}

.appsIcon{
    font-size: 24px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4c4d4d;
    background-color: rgb(225, 233, 245);
}
.getApp{
    background-color: rgb(101, 83, 224);
}

.badgeGoogle{
    max-width: 29%;
    min-width: 23%;
    height: auto;
}
.badgeApple{
    min-width: 23%;
    max-width: 23%;
}

/* freqeuntly asked questions */

.accordion {

    background-color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  .accordion:after {
    content: '\2304';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2303";
  }
  
  .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  

  /* End of Faq */

  .appSubscribe{
    background-color: rgb(101, 83, 224);
}

.subDiv{
    background-color: white;
    border-radius: 25px;
}
.subBtn{
    border-radius: 0 24px 24px 0;
    background-color: #343a41;
}
.subInput{
    outline: none;
    border: none;
}
.contact{
    width: 100%;
    outline: none;
    border: 2px solid rgb(197, 194, 194);
    border-radius: 8px;
    opacity: .6;
}
.sendButton{
    outline: none;
    border: none;
    background-color: rgb(101, 83, 224);
    color: white;
    border-radius: 30px;
}
.part2{
    background-color: rgba(243, 242, 247,.5);
}

.appFooter{
    background-color: black;
}
.appFooter a{
    text-decoration: none;
    color: white;
}
.footerName{
   color: rgb(101, 83, 224);
}
.addressHeading{
    font-size: 22px;
    color: 4c4d4d;
}

@media only screen and (max-width:680px) {
    .displayText{
        font-size: 3rem;
       
    }
}
@media only screen and (min-width:681px) {
    
}